<html>
    <head>
        <title>Your Cart</title>
        <!--{% load staticfiles %}-->
        <!--<link rel="stylesheet" href= "{% static 'store_app/css/index.css' %}">-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class="header">
            <a href="http://localhost:8000">Cool Cat Socks</a>
            <div class="navbar">
                <a href="http://localhost:8000">Home</a>
                <a href="http://localhost:8000/about">About Us</a>
                <a href="http://localhost:8000/products">Products</a>
                <a href="http://localhost:8000/products/sale">SALE</a>
                <a href="http://localhost:8000/cart">Your Cart</a>
                <a href="http://localhost:8000/contact">Contact Us</a>
            </div>
        </div>
        <div class="body">
            <h1>Your Cart</h1>
        </div>
    </body>
</html>