<html>
  <head>
    <title>Login & Reg | Home</title>
  </head>
  <body>
    <h2>Registration</h2>
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
    <form action="/register" method='post'>
      {% csrf_token %}
      First Name: <input type="text" name='first_name'>
      Last Name: <input type="text" name='last_name'>
      Email: <input type="text" name='email'>
      Password: <input type="password" name='password'>
      Confirm pw: <input type="password" name='confirm_pw'>
      <input type="submit" value='Register'>
    </form>
    <h2>Login</h2>
    <form action="/login" method='post'>
      {% csrf_token %}
      Email: <input type="text" name='email'>
      Password: <input type="password" name='password'>
      <input type="submit" value='Login'>
    </form>
  </body>
</html>