<html>
    <head>
        <title>Full Stack Books</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'books_app/style.css' %}">
    </head>
    <body>
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Category</th>
            </tr>
            {% for book in books %}
                <tr>
                    <td>{{ book.id }}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.category }}</td>
                </tr>
            {% endfor %}
        </table>
        <h1>Add a Book</h1>
        <form action="/add_book" method="POST">
            {% csrf_token %}
            Title: <input type="text" name="title">
            Category: <input type="text" name="category">
            Author: <input type="text" name="author">
            <input type="submit" value="SUBMIT">
        </form>
    </body>
</html>                 