<html>
    <head>
        <title>Login and Registration</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Registration</h1>
            <div class="error-messages">
                <ul>
                    <% for (var i in messages){ %>
                        <li> <%= messages[i] %> </li>
                    <% } %>
                </ul>
            </div>
            <div class="registration-form">
                <form class="form-horizontal" action="/submit_registration" method="POST">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" name="email" id="email">
                    </div>
                    <div class="form-group">
                        <label for="first_name">First Name:</label>
                        <input type="text" class="form-control" name="first_name" id="first_name">
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name:</label>
                        <input type="text" class="form-control" name="last_name" id="last_name">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" name="password" id="password">
                    </div>
                    <div class="form-group">
                        <label for="password">Confirm Password:</label>
                        <input type="password" class="form-control" name="confirm_pw" id="confirm_pw">
                    </div>
                    <div class="form-group">
                        <label for="bday">Birthday:</label>
                        <input type="date" class="form-control" name="bday" id="bday">
                    </div>
                    <button type="submit" class="btn btn-default">Register</button>
                </form>
            </div>
            <h1>Login</h1>
            <% if (login_errors) { %>
                <div class="login-errors">
                    <ul>
                        <li> <%= login_errors %> </li>
                    </ul>
                </div>
            <% } %>
            <div class="registration-form">
                <form class="form-horizontal" action="/submit_login" method="POST">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" name="email" id="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" name="password" id="password">
                    </div>
                    <button type="submit" class="btn btn-default">Login</button>
                </form>
            </div>
        </div>
    </body>
</html>