<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="UTF-8">
        <title>Real Portfolio</title>
    </head>
    <body>
        <h1>Hi, I'm Remechael and I...steal from my mom's .</h1>
        <h2>Welcome to My Portfolio</h2>
        <div class="project">
            <a href="http://localhost:8000/projects">Projects</a>
            <p>Here's a list of bloop blop blip. So impressive.</p>
        </div>
        <div class="about">
            <a href="http://localhost:8000/about">About MEEE</a>
            <p>Want to learn more aboot moi? Such wow.</p>
        </div>
        </div class="tests">
            <a href="http://localhost:8000/tests">Testimonials</a>
            <p>My cats think I'm great. See what they have to say.</p>
        </div>
    </body>
</html>