<html>
<head>
    <title>Login & Reg | Success</title>
</head>
<body>
    <form action="/logout" method='post'>
        {% csrf_token %}
        <input type="submit" value='Logout'>
    </form>
    <h1>Oh boy! Welcome {{first_name}}</h1>
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
    <form action="/blab" method='post'>
        {% csrf_token %}
        <input type="text" name='secret'>
        <input type="submit" value='Post secret'>
    </form>
    <a href='http://localhost:8000/popular'>Most Popular Secrets</a>
    <h1>Recent Secrets...</h1>
    {% for secret in secrets %}
        <p>{{ secret.content }}    ( {{secret.created_at|timesince }} ago )</p>
        <p>{{ secret.like_count }} likes</p>
        <form action="/like" method='post'>
            {% csrf_token %}
            <input type="hidden" name='user_id' value= {{ request.session.id }}>
            <input type="hidden" name='secret_id' value= {{ secret.id }}>
            <input type="submit" value='like'>
        </form>
        {% if secret.user.id == request.session.id %}
            <form action="/delete" method='post'>
                {% csrf_token %}
                <input type="hidden" name='secret_id' value={{ secret.id }}>
                <input type="submit" value='Delete'>
            </form>
        {% endif %}
    {% endfor %}
</body>
</html>